SECRET_KEY='s+g42^+v@@$=dykd2y0d40aokgy9pnop4*t05kv15+)v#x908r'
DEBUG=True
ALLOWED_HOSTS=*

# DB connection use settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password

# SMTP
EMAIL_USE_TLS=True
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='your_mail@gmail.com'
EMAIL_HOST_PASSWORD='password123'
EMAIL_PORT=587
